.uploadContainer {
    width: 52vw;
    height: 50vh;
    border: 2px dashed var(--blue);
    border-radius: 20px;
}

.uploadContainer > div {
    width: 100%;
    height: 100%;
}

.uploadContainer > div label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: var(--blue-light);
    cursor: pointer;
    border-radius: 20px;
}

.uploadContainer label input {
    display: none;
}

.uploadContainer label:hover {
    background: var(--blue-medium);
    transition: 0.3s;
}

.uploadIcon, .uploadTitle {
    color: var(--title);
}

.uploadIcon {
    width: 12%;
    height: 12%;
    margin-bottom: 15px;
}

.uploadTitle, .uploadTip {
    font-family: 'Roboto', sans-serif;
}

.uploadTitle {
    font-weight: 400;
    margin-bottom: 5px;
}

.uploadTip {
    font-weight: 400;
    font-size: 0.8rem;
}

.darkTitle {
    color: white !important;
}

.darkTip {
    color: #bebebe !important;
}

.darkIcon {
    color: #bebebe !important;
}

.saveBox, .saveBox label {
    display: flex;
    flex-direction: column;
}

.saveBox {
    align-items: center;
    margin-top: 2%;
    width: 52vw;
    font: 400 1.2vw 'Roboto', sans-serif;
    color: black;
}

#saveLabel {
    align-items: center;
    flex-direction: row !important;
    width: 26vw;
    justify-content: center;
    margin-bottom: 2%;
}

#saveLabel input[type='checkbox']{
    margin-right: 2%;
}

.saveBox input[type='text'], .saveBox select{
    width: 26vw;
    height: 8vh;
    margin-bottom: 2%;
}

.saveBox input[type='text'], .saveBox select {
    padding: 0 1vw;
    background: var(--background);
    border: 1px solid rgb(184, 184, 184);
    border-radius: 4px;
}

.saveBox input[type='text']:focus, .saveBox select:focus {
    border: 2px solid var(--blue);
    outline: none;
}

.saveBox input[type='text']:hover:not(:focus), .saveBox select:hover:not(:focus)  {
    border: 1px solid black;
}

.saveBox input[type='text'], .saveBox select {
    padding: 0 3.5vw 0 1vw;
}

.dark {
    color: white;
}

#saveLabel:hover{
    cursor: pointer;
}

#categoryLabel select, #categoryLabel option {
    font-size: 1.2vw;
}